@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Quicksand&family=Roboto&display=swap");

.App {
  text-align: center;
}

body {
  background-color: $primary;
  font-family: "Quicksand", sans-serif;
}

hr {
  color: $secondary;
}
