@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

.header-title {
  font-size: 40px;
  font-weight: bolder;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.header-text {
  color: white;
}
