@import "./variables";

.brand-title {
  color: $secondary;
  font-size: 50px;
  font-weight: normal;
}

.nav-btn {
  background-color: $primary;
  border: 0;
  margin-right: 8px;
}

.active-nav {
  background-color: $secondary;
  color: $primary !important;
}
